/* * {
    box-sizing: border-box;
} */
/* --------------------------------------------------------------------------------------- */
.title {
    position: relative;
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                    url('./rawdah-assets/pexels-steven-jiashu-online-class-medium.jpg');   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title .title-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
}
.title .title-info h1 {
    position: relative;
    font-size: 3.5rem;
    color: #fff;
    font-weight: 300;
}
.title .title-info p {
    position: relative;
    font-size: 2.4rem;
    color: #fff;
    font-weight: normal;
}
/* --------------------------------------------------------------------------------------- */
.schedule{
    position: relative;
    /* height: 40vh;
    width: 100%; */
    background-color: #000;
    padding: 150px;
    
}
.schedule .schedule-title h1{
    position: center;
    padding-bottom: 70px;
    color: #fff;
    font-weight: 300;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    float: center;

}

.schedule .grid-schedule-container {
    position: relative;
    top: 50%;
    left: 3%;
    transform: translateY(-50%,-50%);
    /* height: 100vh;
    width: 100%; */
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    background-color: #000;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    float: center;
    
}
/* .grid-schedule-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  } */
  /* --------------------------------------------------------------------------------------- */
.class-container{
    /* height: 60vh;
    width: 100%; */
    padding: 10px;
    background-color:#F5DF99;
}
.class-container .class-list {
    background-color: #fff;
    /* height: 100%;
    width: 100%; */
    padding: 50px;
    float: center;
}

.class-container .class-list h1 {
    padding-top: 30px;
    padding-bottom: 60px;
    font-weight: 300;
}

.class-container .class-list .grid-class-container {
    /* position: absolute; */
    float: center;
    display: inline-grid;
    grid-template-columns: 2fr 2fr 2fr;
    /* transform: translateY(-50%,-50%); */
    gap: 70px 70px;
    /* top: 50%; */
    /* left: 3%; */
}
.grid-class-container .grid-item h4,
.grid-class-container .grid-item p {
    text-align: left;   
}
.footer {
    padding:20px;
}
